In [2]:
import pandas as pd

In [3]:
APP_DIR = os.path.dirname(os.path.realpath('__file__'))
base_dir = os.path.dirname(APP_DIR)

In [46]:
file_path = f'{base_dir}/data/hotel_train3.txt'
df = pd.read_csv(file_path,sep='\t')

In [47]:
# 填充nan为默认值0
# df1.dropna(how='any') 剔除包含nan的数据
df.fillna(value=0)
df

        id   category              ask
0        1  hotelname  刚刚订单的酒店名称忘了帮我查下
1        2  hotelname          用订单号查酒店
2        3  hotelname  我现在还不知道我住的酒店名字
3        4  hotelname           酒店名称忘了
4        5  hotelname       预定的酒店的名字没有
...    ...        ...              ...
4298  4302       star               等级
4299  4303  breakfast             是否有早
4300  4304  breakfast          是否有免费早餐
4301  4305  breakfast          有没有免费早餐
4302  4306  breakfast            早餐免费吗

[4303 rows x 3 columns]

操作|	句法	|结果
--|--|--
选择列	|df[[col]]|	Series
用标签选择行	|df.loc[[label]]	|Series
用整数位置选择行	|df.iloc[[loc]]|	Series
行切片	|df[[5:10]]|	DataFrame
用布尔向量选择行|	df[[bool_vec]]	|DataFrame

In [48]:
df['id'].head()

0    1
1    2
2    3
3    4
4    5
Name: id, dtype: int64

In [49]:
print(df.iloc[0])

print(df[0:5])

id                        1
category          hotelname
ask         刚刚订单的酒店名称忘了帮我查下
Name: 0, dtype: object
   id   category              ask
0   1  hotelname  刚刚订单的酒店名称忘了帮我查下
1   2  hotelname          用订单号查酒店
2   3  hotelname  我现在还不知道我住的酒店名字
3   4  hotelname           酒店名称忘了
4   5  hotelname       预定的酒店的名字没有